/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0a0a0a; 
    color: #f5f5f5; 
  }
  
  /* Header */
  header {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    color: #4d34db; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 2.5em;
    margin: 10px 0;
  }
  
 
  #foto {
    border-radius: 50%;
    width: 180px; /* Aumentando a largura da foto */
    height: auto;
    margin-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
  }
  
  
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    color: #4d34db; 
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  p, ul {
    line-height: 1.6;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  ul li::before {
    content: "•";
    color: #4d34db;
    padding-right: 8px;
    font-size: 1.2em;
  }
  
  /* Texto Justificado e Centralizado */
  .texto-limitado {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
  }
  
  /* Footer */
  footer {
    background-color: #1e1e1e;
    color: #f5f5f5;
    text-align: center;
    padding: 20px;
  }
  
  footer a {
    color: #4d34db;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
  }
  
  footer a:hover {
    text-decoration: underline;
    color: #fff;
  }
  
  /* Botões e Links Estilizados */
  button, a.button {
    background-color: #462bdd;
    color: #4d34db;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover, a.button:hover {
    background-color: #4d34db;
  }
  
  /* Responsividade */
  @media (max-width: 600px) {
    main {
      padding: 15px;
    }
  
    h1 {
      font-size: 1.8em;
    }
  
    #foto {
      width: 80px;
    }
  }
  
  /* Estilo da Navbar */
  .navbar {
    margin-bottom: 20px;
    padding: 1rem; /* Aumenta o espaço interno da navbar */
  }
  
  .navbar-nav .nav-link {
    transition: color 0.3s;
  }
  
  .navbar-nav .nav-link:hover {
    color: #ffffff; 
    text-decoration: underline; /* Adiciona um efeito de sublinhado ao passar o mouse */
  }
  
  /* Alinhamento das nav-links */
  .navbar-collapse {
    justify-content: flex-end; /* Faz os links ficarem alinhados à direita */
  }
  
  /* Ajuste a largura da navbar para dispositivos pequenos */
  @media (max-width: 576px) {
    .navbar {
        text-align: center; /* Centraliza os links em dispositivos pequenos */
    }
  }
